# Ignore the data directory
data/

# Python cache
__pycache__/
*.py[cod]

# Environment/secrets
.env

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# IDE
.vscode/
.idea/

# ignore .toml
*.toml
